/* CSS is how you can add style to your website, such as colors, fonts, and positioning of your
   HTML content. To learn how to do something, just try searching Google for questions like
   "how to change link color." */

@font-face {
  font-family: "ralewayregular";
  src: url("raleway-regular-webfont.woff2") format('woff2'), url("raleway-regular-webfont.woff") format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "press_start_2pregular";
  src: url("pressstart2p-regular-webfont.woff2") format('woff2'), url("pressstart2p-regular-webfont.woff") format('woff');
  font-weight: normal;
  font-style: normal;
}

form {
  position: relative;
  width  : 800px;
  height : 498px;
  margin : auto;
  background: url(/Fundo/Computador.png);
  background-position: 90px 0px;
  background-size: contain;
  background-repeat: no-repeat;
  
}

input, select, textarea, button {
  font-family: "ralewayregular";
  font-size: 2vw;
}

button {
  position: relative;
  background: url(/Imagens/BotaoEnviar.png);
  background-size: contain;
  width: 24px;
  height: 23px;
  left: 490px;
  top: 108px;
}

button:focus{
  outline:none;
}

button:-webkit-autofill {
  -webkit-animation-name: autofill;
  -webkit-animation-fill-mode: both;
}

legend {
  color: black;
}

h1 {
  text-align: center;
  color: blue;
  font-family: verdana;
  font-size: 10 vw;
}

p {
  color: red;
  font-family: courier;
  font-size: 3vw;
  text-align: left;
}

label {
  /*Para ter certeza que todas as labels tem o mesmo tamanho e estão propriamente         alinhadas */
  display: inline-block;
  width: 500px;
  text-align: left;
}

input {
  /* Para certificar-se que todos os campos de texto têm as mesmas configurações de fonte. Por padrão, textareas ter uma fonte monospace*/
  font: 1em sans-serif;
  width: 240px;
  height: 24px;
  /* Para harmonizar o look & feel das bordas nos campos de texto*/
  border: none;
  background-color: transparent;
}

input:focus {
  outline: none;
}

@-webkit-keyframes autofill {
  to {
      color: #666;
      background: transparent;
  }
}

input:-webkit-autofill {
  -webkit-animation-name: autofill;
  -webkit-animation-fill-mode: both;
}

.header {
  margin: 0 auto;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.campo {
  position: relative;
  background: none;
  border: 0px solid white;
  text-align: center;
  top: 134px;
  left: -28px;
}

body {
  background-color: lightblue;
  background-image: url(/Fundo/grade500.png);
  color: black;
  font-family: 'Courier New', sans-serif;
}

h1 {
  text-align: center;
  color: blue;
  font-family: verdana;
  font-size: 10;
}

p {
  color: red;
  font-family: courier;
  font-size: 5vw;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

/* The Modal (background) */

.modal {
  display: none;
  /* Hidden by default */
  position: absolute;
  /* Stay in place */
  /*padding-top: 100px; /* Location of the box */
  /* left: 0; */
  /* top: 0; */
  z-index: 1;
  /* Sit on top */
  width: 100%;
  height: 100%;
  overflow: auto;
  /* Enable scroll if needed */
  /* margin: auto; */
}

/* Modal Content */

.modal-content {
  background-image: url(/Imagens/3_SortingBaixo.png);
  background-size: 509px 519px;
  background-repeat: no-repeat;
  width: 509px;
  /*509px; 31.67062549485352%*/
  height: 519px;
  /*519px;*/
  margin: auto;
}

/* The Close Button */

.close {
  /* background:url(/Imagens/Botao_Fechar.png); */
  position: relative;
  display: block;
  /* background-size: 20px 17px; */
  /* background-color: black; */
  width: 20px;
  height: 17px;
  background-repeat: no-repeat;
  z-index: 3;
  /* margin-left: 300px; */
  left: 481px;
  top: 5px;
  /* float: right; */
  /* opacity: 0.5; */
}

.close:hover, .close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* draggable portion */

.modalHeader {
  background-image: url(/Imagens/3_SortingCima.png);
  background-size: 509px 53px;
  background-repeat: no-repeat;
  padding-bottom: 0px;
  cursor: move;
  z-index: 2;
  width: 509px;
  height: 53px;
  margin: auto;
}

#canvas {
  position: relative;
  z-index: 0;
  width: 400px;
  height: 398px;
  left: 80px;
  top: 1px;
}

/* Contato (background) */

.ImgContato {
  display: none;
  /* Hidden by default */
  position: absolute;
  /* Stay in place */
  /*padding-top: 100px; /* Location of the box */
  /* left: 0; */
  /* top: 0; */
  z-index: 1;
  /* Sit on top */
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  /* margin: auto; */
}

/* Contato Content */

.conteudoContato {
  background-image: url(/Imagens/7_ContatoBaixo.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 510px;
  height: 448px;
  margin: auto;
}

/* Contato Fechar Botão */

.fecharContato {
  background: url(/Imagens/Botao_Fechar.png);
  display: block;
  width: 25px;
  height: 25px;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 3;
  /* margin-left: 300px; */
  /* margin: auto; */
  float: right;
}

.fecharContato:hover, .fecharContato:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* Contato draggable portion */

.ContatoHeader {
  background-image: url(/Imagens/7_ContatoCima.png);
  background-size: contain;
  background-repeat: no-repeat;
  cursor: move;
  z-index: 2;
  width: 2988px;
  height: 155px;
  margin: auto;
}

/* Original (background) */

.ImgOriginal {
  display: none;
  position: absolute;
  z-index: 1;
  width: 436px;
  height: 469px;
  overflow: auto;
}

/* Original Content */

.conteudoOriginal {
  background-image: url(/Imagens/4_ImgOriginalBaixo.png);
  background-size: 436px 431px;
  background-repeat: no-repeat;
  width: 436;
  /* 0,2440512507626602 */
  height: 431px;
  margin: auto;
}

/* Original Fechar Botão */

.fecharOriginal {
  display: block;
  width: 18px;
  height: 20px;
  background-size: 18px 22px;
  background-repeat: no-repeat;
  z-index: 3;
  margin-right: 7px;
  margin-top: 12px;
  /* margin: auto; */
  float: right;
}

.fecharOriginal:hover, .fecharOriginal:focus {
  opacity: 0.0;
  text-decoration: none;
  cursor: pointer;
}

/* Contato draggable portion */

.classOriginalHeader {
  background-image: url(/Imagens/4_ImgOriginalCima.png);
  background-size: 436px 38px;
  background-repeat: no-repeat;
  position: relative;
  cursor: move;
  z-index: 2;
  width: 436px;
  height: 38px;
  margin: auto;
}

#original {
  position: relative;
  z-index: 0;
  width: 397px;
  height: 397px;
  left: 18px;
  top: 15px;
}

.iconGaleria {
  position: absolute;
  width: 3%;
  height: 3%;
  left: 278px;
  top: 255px;
}

.iconSobre{
  position: absolute;
  width: 4.2%;
  height: 4.2%;
  left: 310px;
  top: 255px;
}

.iconContato{
  position: absolute;
  width: 3.5%;
  height: 3.5%;
  left: 350px;
  top: 255px;
}





/* SOBRE */

.SobreClass {
  display: none;
  position: absolute;
  z-index: 1;
  width: px;
  height: 500px;
  width: 575px;
  overflow: auto;
}

.conteudoSobre {
  position: relative;
  background-image: url(/Imagens/6_SobreBaixo.png);
  background-size: 575px 442px;
  background-repeat: no-repeat;
  width: 575px;
  /* 0,2440512507626602 */
  height: 442px;
  margin: auto;
  top: 40px;
}

.fecharSobre {
  display: block;
  width: 25px;
  height: 25px;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 3;
  margin-right: 11px;
  margin-top: 10px;
  /* margin: auto; */
  float: right;
}

.fecharSobre:hover, .fecharOriginal:focus {
  opacity: 0.5;
  text-decoration: none;
  cursor: pointer;
}

/* SOBRE draggable portion */

.ClasseSobreHeader {
  background-image: url(/Imagens/6_SobreCima.png);
  background-size: 575px 39px;
  background-repeat: no-repeat;
  position: relative;
  cursor: move;
  z-index: 2;
  width: 575px;
  height: 39px;
  float: left;
  top: 3px;
}